:root {
  --light: #f5f5f5;
  --soft-light: #d1d1d1;
  --dark: #232323;
  --darkish: #1c1c1c;
  --darker: #141414;
  --gray: #909090;
  --dark-gray: #5c5c5c;
  --hover-blue: #cad6d8;
  --selected: #0a95ff;
  --border-color: #ff0000;
  --dev-bg: #7ec4b6;

  --dev-opacity: 0.5;
}
* {
  /* cursor: none; */
  cursor: default;
}

.i-icon {
  padding: 0 6px;
  padding-top: 5px;
  background-color: none;
  /* cursor: pointer; */
}

.i-icon > * {
  color: var(--dark-gray);
  width: 1.1rem;
  height: 1.1rem;
}

.i-icon:hover > * {
  color: var(--light);
}
.i-icon > *:selected {
  color: var(--hover-blue);
}

.i-icon.selected > * {
  color: var(--hover-blue);
}

.i-small > * {
  width: 0.8rem;
  height: 0.8rem;
  margin: auto 2px;
}

.panel-icon {
  padding: 0;
}
.project-icon {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto 0px;
}

.project-icon:hover {
  background-color: var(--darkish);
}
.project-icon > * {
  color: var(--light);
}
.title {
  margin: auto 3%;
  /* cursor: pointer; */
  font-weight: 200;
}
.title:hover {
  color: var(--light);
}
.icon-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 25px;
  /* justify-content: center; */
}
