---
import AfterEffectsTemplate from '../components/AfterEffectsTemplate.astro'
const microToolbarUrl = 'https://octopodo.github.io/kt-micro-toolbar/'
const macroToolbarUrl = 'https://octopodo.github.io/kt-macro-toolbar/'
import Presentation from '../components/Presentation.astro'
const maxWidth = '80%'
import '../styles/global.css'
---

<script>
const afterEffctsLayout =  document.getElementById('after-effects-layout')
const microToolbar = document.querySelector('#micro-toolbar')
const macroToolbar = document.querySelector('#macro-toolbar')

const toolbars = Array.from(document.querySelectorAll('iframe'))

Promise.all(toolbars.map(iframe => new Promise(resolve => iframe.onload = resolve)))
  .then(() => {
    setTimeout(() => {
      afterEffctsLayout.classList.add('blur-in')
      microToolbar.classList.add('fade-in', 'neon-flash')
      macroToolbar.classList.add('fade-in', 'neon-flash')
    }, 1000)
  }
);
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>After Effakes UI</title>
	</head>
	<body>
    <div class="presentation">
      <Presentation/>
    </div>

    <AfterEffectsTemplate >

      <iframe slot="micro-toolbar" src={microToolbarUrl} id="micro-toolbar" class="toolbar micro-toolbar"></iframe>
      <iframe slot="macro-toolbar" src={macroToolbarUrl} id="macro-toolbar" class="toolbar macro-toolbar"></iframe>
    </AfterEffectsTemplate>

	</body>
</html>


<style define:vars={{maxWidth}}>
*{
  font-family: 'Roboto', sans-serif;
  color: white;
}
body {
  background-color: var(--darker);
  display: grid;
  grid-template-columns: 26vw auto;
  height: 100%; 
  
}

iframe{
  overflow: hidden;
}


.micro-toolbar {
  position: relative;
  height: 50px;
  z-index: 100;
}

.macro-toolbar {
  position: relative;
  height: 130px;
  top: 78%;
  border: none;
  z-index: 100;
}
.toolbar {
  display: block;

  width: 100%;
  border: none;
  box-shadow: 4px 5px 10px  rgba(0,0,0,0.2);
  overflow: hidden;
  opacity: 0;
}

.blur-in {
  animation: blur 0.5s ease-in-out forwards;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}




.neon-flash::after {
  animation: neon-flash 2s ease-in-out infinite;
}

@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px) brightness(100%); 
  }
  to {
    -webkit-filter: blur(5px) brightness(200%); 
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes neon-flash {
  0% {

    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  100% {
    Opacity: 0%;
  }
}

</style>