---
import MainMenu from './MainMenu.astro'
import MainToolbar from './MainToolbar.astro'
import WorkArea from './WorkArea.astro'
import Timeline from './Timeline/Timeline.astro'
import Panel from './Panel.astro'

---

  <div id="after-effects-layout">
    
      
    <MainMenu/>

    <MainToolbar/>

    <Panel title="KT Micro Toolbar">
      <div class="toolbar-micro-panel">
        <slot name="micro-toolbar"/>
      </div>
    </Panel>

    <WorkArea/>

    <Panel title="KT Macro Toolbar">
      <div class="toolbar-macro-panel">
        <slot name="macro-toolbar"/>
      </div>
    </Panel>
    
    <Timeline/>
  </div>


<style >
/* .after-effects-layout{
  position: absolute;
} */
*{
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
}


.icon{
  color: blue;
  padding: 7px 4px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

#after-effects-layout {
  position: absolute;
  display: grid; 
  grid-template-rows: 50px 28px  auto 54% auto 21%;
  width: 80vw;
  height: 90vh;
  border-radius:  50%;
}


.toolbar-micro-panel {


}

.toolbar-macro-panel {
  overflow: hidden;
}


</style>