<div class="menu">
  <div class="program-title">Adobe After Effects: KT Toolbars Demo</div>
  <div class="menu-items">
          
    <p class="menu-item">File</p>
    <p class="menu-item">Edit</p>
    <p class="menu-item">Composition</p>
    <p class="menu-item">Layer</p>
    <p class="menu-item">Effect</p>
    <p class="menu-item">Animation</p>
    <p class="menu-item">View</p>
    <p class="menu-item">Window</p>
    <p class="menu-item">Help</p>
  </div>
</div>


<style>

.menu {
  background: white;
}

.program-title {
  color: black;
  display: flex;
  align-items: center;
  padding: 5px 2px
}
.menu-items{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item{
  color: black;
  margin: 0;
  padding: 4px 4px;
  padding-top: 6px;
}

.menu-item:hover{
  background: var(--hover-blue);
  color: ;
  cursor: pointer;
}
</style>