---
import { VscExpandAll } 
from "react-icons/vsc";
import { LuCombine } 
from "react-icons/lu";
import { PiBracketsCurlyDuotone } 
from "react-icons/pi";
import { BsPersonFillAdd } 
from "react-icons/bs";

---
<div class="container">
  <div class="footer-icon" >
    <VscExpandAll/>
  </div>
  <div class="footer-icon" >
    <LuCombine/>
  </div>
  <div class="footer-icon" >
    <PiBracketsCurlyDuotone/>
  </div>
  <div class="footer-icon" >
    <BsPersonFillAdd/>
  </div>
  <small class="text">Frame Render Time</small>
  <small class="text gray">0s</small>
</div>


<style>

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--darker);
  border-bottom: 1px solid var(--darker);
}

.footer-icon{
  padding: 2px 4px;
  border: 1px solid var(--darkish)
}

.text {
  color: var(--soft-light);
  font-size: 0.7rem;
  font-weight: 300;
  margin-left: 20px;
}
.gray {
  color: var(--dark-gray);
}
</style>